.DS_Store
*.dSYM
.deps
.libs
build
*.xcodeproj/*pbxuser
*.xcodeproj/*mode1v3
m4
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
config.h
configure
Makefile.in
Makefile
install-sh
ltmain.sh
missing
depcomp
libtool
*.a
*.o
*.so
*.lo
*.la
stamp-h1
.*.swp
xsnmp
